annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
certifi==2026.6.17
cffi==2.1.0
cryptography==49.0.0
deprecation==2.1.0
h11==0.16.0
h2==4.3.0
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
packaging==26.2
platformdirs==4.10.0
postgrest==2.31.0
prompt_toolkit==3.0.52
propcache==0.5.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
pyperclip==1.11.0
python-dotenv==1.2.2
-e git+https://github.com/pawanhirumina/PyVault.git@8874f03a96a15ca76e2384109b26c28e9561ee4d#egg=pyvault_cli
questionary==2.1.1
realtime==2.31.0
rich==15.0.0
shellingham==1.5.4
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
typer==0.26.8
typing-inspection==0.4.2
typing_extensions==4.16.0
-e git+https://github.com/pawanhirumina/PyVault.git@8874f03a96a15ca76e2384109b26c28e9561ee4d#egg=vaultpy
wcwidth==0.8.2
websockets==15.0.1
yarl==1.24.2
